.menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 50px;
    margin-bottom: 140px;
}
.menu__logo {
    font-family: 'Revalia', cursive;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
}
.menu__items {
    display: flex;
    justify-content: space-between;
    min-width: 611px;
    list-style: none;
}
.menu__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.menu__item:hover {
    color: #34547A;
}
.menu__link {
    color: #000000;
}