.form {
    padding-bottom: 100px;
}
.form__wrapper {
    max-width: 540px;
    margin: 0 auto;
}
.form__box {
    text-align: center;
}
.form__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 50px;
}
.form__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 65px;
}

form__box {
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    padding: 17px 20px 18px;
    margin-bottom: 50px;
}
.form__box p {
    padding: 0;
    margin: 0;
}
.form__input-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 20px;
}
.form__input {
    padding: 17px 20px 18px;
    border: none;
}
.form__area {
    padding: 17px 20px 18px;
    min-width: 100%;
    border: none;
    margin-bottom: 50px;
}
.form__btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    background: #34547A;
    padding: 20px 48px 20px 46px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.form__btn:hover {
    cursor: pointer;
    opacity: .8;
}